# ---- Python ----
__pycache__/
*.py[cod]
*$py.class

# ---- Virtual env ----
.venv/
venv/
ENV/
env/

# ---- IDE / Editor ----
.vscode/
.idea/
*.swp

# ---- OS ----
.DS_Store
Thumbs.db
Desktop.ini

# ---- Logs / temp ----
*.log
*.tmp

# ---- OneDrive (genel geçici/çakışma dosyaları) ----
* - Copy.*
* - Kopya.*
*.lnk
